# Dependencias
node_modules/
**/node_modules

# Archivos de lock
package-lock.json
**/package-lock.json

# Archivos de datos locales
/data/products.json
/data/carts.json

# Archivos de subida de imágenes
/public/img/

# Variables de entorno
.env
